<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Favourites Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>

<%- include('partials/header') %>

<H1>MY FAVOURITES</H1>

    <% for(let item of items) { %>

      <article class="item-listing">
        <section class="item-listing__preview-image">
          <a href="/items/<%= item.id %>">
          <img src="<%= item.thumbnail_photo_url %>" alt="house">
        </a>
        </section>
        <section class="item-listing__details">
          <h3 class="item-listing__title"><%= item.title %></h3>
          <ul class="item-listing__details">
            <li>location: <%= item.location %></li>
            <li>date_posted: <%= item.date_posted %></li>
            <li><%= item.date_sold ? `SOLD!` : `` %></li>
            <li>price: <%= item.price  %></li>
          </ul>
        </section>
      </article>
    <% } %>
</body>
</html>

