<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1>YAR SALE 🥔</h1>


  <form action="/items" method="get" id="search-property-form" class="search-property-form">
    <div class="search-property-form__field-wrapper">
      <label for="search-property-form__minimum-price">Minimum Cost</label>
      <input type="number" name="minimum_price" placeholder="Minimum Cost" id="search-property-form__minimum-price-per-night">
      <label for="search-property-form__maximum-price">Maximum Cost</label>
      <input type="number" name="maximum_price" placeholder="Maximum Cost" id="search-property-form__maximum-price-per-night">
    </div>

    <div class="search-property-form__field-wrapper">
        <button>Search</button>
        <a id="search-property-form__cancel" href="#">Cancel</a>
    </div>
  </form>

<% for(let item in items) { %>

    <article class="item-listing">
        <section class="item-listing__preview-image">
          <img src="${item.thumbnail_photo_url}" alt="house">
        </section>
        <section class="item-listing__details">
          <h3 class="item-listing__title"><%= item.title %></h3>
          <ul class="item-listing__details">
            <li>location: <%= item.location %></li>
            <li>description: <%= item.description %></li>
            <li>date_posted: <%= item.date_posted %></li>
            <li>date_sold: <%= item.date_sold ? <p>SOLD!</p> : `` %></li>
          </ul>
          <footer class="item-listing__footer">
          <li>price: <%= item.price  %></li>
          </footer>
        </section>
      </article>

<% } %>





</body>

</html>
