<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="../images/" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>


<%- include('partials/header') %>

    <% for(let item of items) { %>

      <article class="item-listing">
        <section class="item-listing__preview-image">
        <a href="/items/<%= item.id %>">
          <img src="<%= item.thumbnail_photo_url %>" alt="house">
        </a>
        </section>
        <section class="item-listing__details">
          <h3 class="item-listing__title"><%= item.title %></h3>
          <ul class="item-listing__details">
            <li><%= item.location %></li>
            <li type="date" >date_posted: <%= item.date_posted %></li>
          <% if(item.date_sold ){ %>
            <img class='sold' src='/images/sold.png' alt="sold">
                 <%}%>
            <li><b>$<%= item.price  %></b></li>
            <% if (id == 1) { %>
              <%  if (item.item_id){%>
                <div class="heart">
                  <form action="/favourites/<%= item.id %>" method="POST">
                  <button class='fav_button'>
                    <img src='/images/heart_fav.png' alt="heart_unfav">
                  </button>
                  </form>
                </div>
            <%  } else {%>
                <div class="heart">
                  <form action="/favourites/<%= item.id %>" method="POST">
                  <button class='fav_button'>
                    <img src='/images/heart_unfav.png' alt="heart_unfav">
                  </button>
                  </form>
                </div>
                <%  }%>

            <% } else if (id == 2) { %>
              <div class="delete">
                <form action="/items/<%= item.id %>/delete" method="POST">
                  <button>delete</button>
                </form>
              </div>
            <% } %>

          </ul>
        </section>
      </article>

    <% } %>
</body>
</html>

