<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Fonts Awesome -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>


<%- include('partials/header') %>

    <% for(let item of items) { %>

      <article class="item-listing">
        <section class="item-listing__preview-image">
<!-- <img class="item-img" id="<%= item.id %>" src="<%= item.thumbnail_photo_url %>" alt="house"> -->
        <a href="/items/<%= item.id %>">
          <img src="<%= item.thumbnail_photo_url %>" alt="house">
        </a>
        </section>
        <section class="item-listing__details">
          <h3 class="item-listing__title"><%= item.title %></h3>
          <ul class="item-listing__details">
            <li>location: <%= item.location %></li>
            <li>description: <%= item.description %></li>
            <li>date_posted: <%= item.date_posted %></li>
            <li>date_sold: <%= item.date_sold ? `<p>SOLD!</p>` : `` %></li>
            <li>price: <%= item.price  %></li>
            <% if (id == 1) { %>
            <div class="heart">
              <form action="/favourites/<%= item.id %>" method="POST">
                <button>Add To Favourites</button>
              </form>
              <!-- <i class="fas fa-heart"></i> -->
            </div>
            <% } else if (id == 2) { %>
              <div class="delete">
                <form action="/items/<%= item.id %>/delete" method="POST">
                  <button>delete</button>
                </form>
              </div>
            <% } %>

          </ul>
        </section>
      </article>

    <% } %>

<!-- <script>
$('.item-img').click(function() {
  const id = $(this).attr('id')
  window.location.href="/items/" + id;
})
</script> -->


</body>


</html>

