<!DOCTYPE html>
<html lang="en">

<head>
  <title>Item details</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>

<%- include('partials/header') %>
<h2>ITEM DETAILS</h2>
      <article class="item-listing_1">
        <section class="item-listing__preview-image" >
          <img src="<%= items.thumbnail_photo_url %>" alt="house">
        </section>
        <section class="item-listing__details">
          <h3 class="item-listing__title"><%= items.title %></h3>
          <ul class="item-listing__details">
            <li><%= items.location %></li>
            <li><%= items.description %></li>
            <li>Date Posted: <%= items.date_posted %></li>
            <li><b>$<%= items.price  %></b></li>
            <% if (id == 1) { %>
              <div class="heart">
                <button>Add To Favourites</button>
              </div>
              <button onclick=<%= `window.open("mailto:${email}")` %>>Send email to seller</button>
              <% } else if (id == 2) {%>
                 <% if (items.date_sold) { %>
                 <p>SOLD!</p>
                  <% } else { %>
                    <form action="/items/<%= itemId %>/sold" method="POST">
                      <button for="html">SOLD</button>
                      </form>
                  <% } %>
              <% } %>
          </ul>
        </section>
      </article>
</body>
</html>
